<!-- This lets you use a header from a different html file -->
<%- include('partials/myheader'); %>


<div class="row">

  <div class="col-lg-3"></div>
  <div class="col-lg-6 errorPage">
    <h1>You have not created a goal yet. You can create one by following the steps
      on the <a href="getStarted">Get Started</a> page.</h1>
  </div>
  <div class="col-lg-3"></div>
</div>



<!-- This lets you use a footer from a different html file -->
<%- include('partials/footer'); %>
