<!-- This lets you use a header from a different html file -->
<%- include('partials/myheader'); %>


<h1>You have not created a goal yet. You can create one by following the steps
  on the <a href="getStarted">Get Started</a> page.</h1>



<!-- This lets you use a footer from a different html file -->
<%- include('partials/footer'); %>
