<!-- This lets you use a header from a different html file -->
<%- include('partials/myheader'); %>


<div class="">

  <h1>First, create a new goal: </h1>
  <p><a href="/newGoal">New Goal</a></p>
  <!-- https://www.toptal.com/designers/htmlarrows/arrows/left-arrow/ -->
  <p>&#8594;</p>
  <p>&#8592;</p>
  <p>&#8595;</p>

</div>


<div class="container">

  <div class="row">
    <div class="col-lg-4"></div>



    <div class="col-lg-4">
      <div class="getStartedBox1">
        <a  href="/newGoal">
          <h1 class="testingA">Create New Goal</h1>
        </a>
      </div>


    </div>

    <div class="col-lg-4"></div>

  </div>

</div>



<!-- This lets you use a footer from a different html file -->
<%- include('partials/footer'); %>
