<!-- This lets you use a header from a different html file -->
<%- include('partials/myheader'); %>





<div class="container getStartedContainer">

  <!-- First Row -->
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <div class="getStartedBox">
        <a class="anchorText" href="/newGoal">
          <h1>Create New Goal</h1>
          <p>Set realistic expectations that you can consistently achieve. Your goal should
            have a specific outcome. </p>
        </a>
      </div>
    </div>
    <div class="col-lg-7"></div>
  </div>

  <!-- Second Row -->
  <div class="row getStartedArrow1Row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 getStartedArrow1">
      <h1>&#8595;</h1>
    </div>
    <div class="col-lg-7"></div>
  </div>

  <!-- Third Row -->
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <div class="getStartedBox">
        <a class="anchorText" href="/plan">
          <h1>Log Hours</h1>
          <p>After each session, log the number of hours you completed in the table. </p>
        </a>
      </div>
    </div>
    <div class="col-lg-2 getStartedArrow2">
      <h1>&#8644;</h1>
    </div>
    <div class="col-lg-4">
      <div class="getStartedBox">
        <a class="anchorText" href="/compose">
          <h1>Write Notes</h1>
          <p>Log any notes you have. This can be a quick summary of what you accomplished or things
            you might have struggled with that you would like to come back to. </p>
        </a>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <!-- Fourth Row -->
  <div class="row getStartedArrow1Row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 getStartedArrow1">
      <h1>&#8595;</h1>
    </div>
    <div class="col-lg-7"></div>
  </div>

  <!-- Fifth Row -->
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <div class="getStartedBox">
        <a class="anchorText" href="/newGoal">
          <h1>Goal Accomplished?</h1>
          <p>Congratulations, you made it to the end! Whether or not you accomplished
            your goal, now is the time to reflect on your performenace and prepare for your
            next goal. </p>
        </a>
      </div>
    </div>
    <div class="col-lg-7"></div>
  </div>



</div>



<!-- This lets you use a footer from a different html file -->
<%- include('partials/footer'); %>
