<!-- This lets you use a header from a different html file -->
<%- include('partials/myheader'); %>

<div class="homeText">
  <h1 class="homeTitle">Acheive Your Goals</h1>
  <p class="homeSubTitle">Create your own custom scoreboard for any upcoming projects to help you track your progress.</p>

  <a class="btn startBtn" href="start" role="button">Get Started</a>
  <a class="btn exampleBtn" href="showExample" role="button">Show me an example</a>
</div>


<div class="contactStuff">
  <p class="contactEmail">Contact:</p>
  <p>devkyouma@gmail.com</p>

</div>




<!-- This lets you use a footer from a different html file -->
<%- include('partials/footer'); %>
