<!-- This lets you use a header from a different html file -->
<%- include('partials/myheader'); %>


<h1>this is landing page. maybe show some samples then direct user to the get started page?</h1> <br>

<a href="showExample">Show me an example</a>

<h1>Contact info</h1>



<!-- This lets you use a footer from a different html file -->
<%- include('partials/footer'); %>
