<!-- This lets you use a header from a different html file -->
<%- include('partials/myheader'); %>

<h1>New Goal</h1><br>

  <form action="/start" method="post">
    <div class="mb-3 newGoalPage">
      <label class="form-label">Name of Goal</label>
      <input type="text" class="form-control" name="composeProjectName" ></input>
    </div> <br>

    <div class="mb-3 newGoalPage">
      <label class="form-label">How many weeks do you want to track?</label>
      <input type="text" class="form-control" name="composeTotalWeeks">
    </div> <br>

    <div class="mb-3 newGoalPage">
      <label class="form-label">How many hours can you study each week?</label>
      <input type="text" class="form-control" name="composeGoalHoursWeek">
    </div> <br>

    <button type="submit" class="btn btn-primary newGoalPageBtn">Submit</button>
  </form>



<!-- This lets you use a footer from a different html file -->
<%- include('partials/footer'); %>
