/* This is not real code, just a way for me to have color codes easily */
.colorpalette {
  color: #ccdbdc;
  color: #9ad1d4;
  color: #80ced7;
  color: #007ea7;
  color: #003249;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 3px;
}

.navbar-brand, .nav-link {
  /* background-color: #9ad1d4 !important; */
  color: #003249;
}


.footer-padding {
  padding-bottom: 60px;
}

.footer {
  /* This position absolute was in the given file, not sure why she would do this */
  /* It makes the post go beyond the footer if there area lot */
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #007ea7;
  margin: auto;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

/* This helps fix where the footer is */
/* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
.content {
  padding-top: 40px;
  position: relative;
  min-height: 100vh;
}

.sameLine {
  display: inline-block;
}

/* Table format */
table, th, td {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  color: gray;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 100px;
}

tr:nth-child(even) {
  background-color: #ccdbdc;
}

th {
  background-color: #007ea7;
  color: white;
}

.cells {
  color: black;
}

/* End of table format */



.chartBox1, .chartBox2 {
  margin: 100px 0 100px 0;
  width: 100%;
}

.contactEmail {
  font-weight: bold;
  margin: 0px;
}

.homeText {
  margin-top: 300px;
  /* height: 600px; */
  padding: 0 50px 0 0;
}

.btn {
  background-color: #007ea7;
  border-color: #007ea7;
  color: white;
  font-weight: bold;
}

.btn:hover {
  background-color: white;
  border-color: #007ea7;
  color: black;
  font-weight: bold;
}

.startBtn {
  margin: 50px 50px 0 0;
}

.exampleBtn {
  margin: 50px 0 0 0;
  background-color: white;
  border-color: black;
  color: black;
  font-weight: bold;
}

.exampleBtn:hover {
  background-color: #007ea7;
  color: white;
}

/* This forces the image to fit the div so it keeps its aspect ratio */
/* https://pqina.nl/blog/resize-images-proportionally-while-keeping-the-aspect-ratio/ */
.homeImage {
  margin-top: 200px;
  object-fit: cover;
  max-width: 100%;
}

.imageDiv {
  height: 1200px;
}

.navbar-toggler {
  /* background-color: gray; */
  border-color: black;
  width: 55px;
}

/* For some reason i couldnt align the text, so i had to play around with margin
to make it look right */
.dropDown {
  color: black;
  margin-right: 40px;
}

.newGoalPage, .notesPage {
  margin-bottom: 60px !important;
}

.newGoalPageBtn {
  margin-bottom: 150px;
}


.getStartedBox1 {
  background-color: #003249;
  color: white;
}

.testingA {
  color: red;
 text-decoration:
}
